/* Header Styling */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
}

.header-left {
  display: flex;
  align-items: center;
  padding-top: 20px;
}


.fa-clock {
  font-size: 30px;
  margin-right: 10px;
  color: gray;
  margin-bottom: 4px;
  margin-left: 12px;
}

.header-text h2 {
  margin: 0;
  font-size: 18px;
  color: gray;
}

.header-text p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

.header-right {
  margin-left: 1620px;
  margin-top: -155px;
}

.header-right .filter-button {
  margin-top: 200px;
}

.header-right .sort-button {
  margin-top: 200px;
}

.search-input {
  padding: 5px 10px;
  border: 1px solid #2addf1;
  border-radius: 15px;
  outline: none;
}

.search-icon {
  margin-left: -25px;
  color: lightblue;
}

/* Filter and Sort Button Styling */
.filter-sort-container {
  display: flex;
  gap: 20px; /* Space between Filter and Sort buttons */
  align-items: center;
  margin-left: -140px; /* Add some space between search and buttons */
}

.filter-sort-container button {
  margin-top: 70px;
}

button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

button i {
  margin-right: 5px;
  font-size: 16px;
  color: gray;
}

button:hover {
  color: black;
}

button i:hover {
  color: black;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-icon {
  font-size: 24px;
  margin-right: 10px;
  color: gray;
}

.header-text h2 {
  margin: 0;
  font-size: 18px;
}

.header-text p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

.header-right {
  display: flex;
  align-items: center;
}

.filter-button,
.sort-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: gray;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 15px;
}

.filter-button i,
.sort-button i {
  margin-right: 5px;
}

.filter-button:hover,
.sort-button:hover {
  color: black;
}
